<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Page</title>
    <style>
        .invalid {
            color: #d40000;
            font-size: 12px;
            font-weight: 500;
        }
    </style>
</head>
<body>
    <h1>Add Product Page</h1>
    <form action="/dashboard/admin/product/add" method="post">
        <label for="1">Nama</label>
        <input type="text" name="name" id="1" autocomplete="off" value="<%= input.name ? input.name : '' %>">
        <div class="invalid"><%= invalid.name ? invalid.name : '' %></div>
        <br>
        <label for="2">Brand Product</label>
        <input type="text" name="brand" id="2" autocomplete="off" value="<%= input.brand ? input.brand : '' %>">
        <div class="invalid"><%= invalid.brand ? invalid.brand : '' %></div>
        <br>
        <label for="3">Stock</label>
        <input type="number" name="stock" id="3" value="<%= input.stock ? input.stock : '' %>">
        <div class="invalid"><%= invalid.stock ? invalid.stock : '' %></div>
        <br>
        <label for="7">Price</label>
        <input type="number" name="price" id="7" value="<%= input.price ? input.price : '' %>">
        <div class="invalid"><%= invalid.price ? invalid.price : '' %></div>
        <br>
        <label for="4">Deskripsi</label>
        <input type="text" name="description" id="4" autocomplete="off" value="<%= input.description ? input.description : '' %>">
        <div class="invalid"><%= invalid.description ? invalid.description : '' %></div>
        <br>
        <label for="5">Category</label>
        <select name="CategoryId" id="5">
            <% categories.forEach((el) =>{ %>
                <option value="<%= el.id %>" <%= input.CategoryId && +input.CategoryId === +el.id ? 'selected' : '' %>><%= el.name %></option>
            <% }) %> 
        </select>
        <div class="invalid"><%= invalid.Category ? invalid.Category : '' %></div>
        <br>
        <input type="hidden" name="UserId" id="6" value="2">
        <br>
        <input type="submit" value="Add">

    </form>

    <br><br>
    <button><a href="/dashboard/admin">Back</a></button>
    
</body>
</html>